.elementor-48 .elementor-element.elementor-element-1c7a55b > .elementor-widget-container{background-color:#FFFFFF;border-style:solid;border-color:#010101;}/* Start custom CSS */.entry-title {
    color:white;
}/* End custom CSS */